<div class="ordered-item">
    <div class="noodles-header"><%= noodles.title %> (<%= size %>)</div>

    <div class="info-pan">
        <span class="size"><img src="assets/images/size-icon.svg"> 30</span>
        <span class="weight"><img src="assets/images/weight.svg"> <%= noodles[size].weight %></span>
    </div>

    <span class="btn-pan">
                      <span class="price">Ціна: <%= noodles[size].price %> грн.</span>
                      <button type="button" class="btn btn-danger minus"><span
                                  class="glyphicon glyphicon-minus"></span>
                      </button> <span class="price"><%= quantity %></span>
                      <button type="button" class="btn btn-success plus"><span
                                  class="glyphicon glyphicon-plus"></span>
                      </button>
                      <button type="button" class="btn btn-default cross"><span
                                  class="glyphicon glyphicon-remove"></span>
                      </button>
                  </span>
</div>